{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Lun", "Roniz", "Ar", "Dez", "Zol", "Zun", "Arc", "Magn", "Wind", "Myth", "Kr", "Devaz", "Ruin",  "Flow", "Duz", "Catacl", "Radian", "Cyan", "Oran", "Crim", "Azure", "Verdan", "Yel",  "Aur", "Argen", "Rubic", "Saph", "Diam", "Noir", "Gwyn", "Griy", "Copper", "Kyt", "Obsid", "Kyat", "Ash", "Bron", "Ameth", "Ant", "Owl", "Sulf", "Armor", "Myst", "Sing", "Volcan", "Fier", "Glas", "Sky", "Soar", "Star", "Astr", "Dar", "Brav", "Flam", "Aegis", "Talon", "Temp", "Cres", "Drak", "Pter", "Kni", "Strik", "Sting", "Spir", "Myrm", "Myur" ],
	  
      [ { "mode" : "alts" }, "eleon", "a", "o", "ak", "ok", "ar", "an", "or", "on", "zar", "zan", "zor", "zon", "gon", "aran", "anar", "anor", "ra", "ava", "idae", "ligh"]
    ]
  ]
}
