{
  "names" : [
    [
      { "mode" : "serie", "titleCase" : true },
      [ "Abelena", "Aethel", "Agitha", "Alexandra", "Alice", "Amelia", "Anne", "Aria", "Autumn", "Batilda", "Beatrix", "Carolina", "Cecropia", "Charlotte", "Chrysalis", "Cwenhild", "Dulcina", "Eleanora", "Elizabeth", "Ella", "Emily", "Eolande", "Grace", "Guinevere", "Harper", "Io", "Isabella", "Laurel", "Lily", "Lucy", "Luna", "Lydia", "Lymantria", "Maple", "Marigold", "Mary", "Matilda", "Maven", "Melody", "Mildred", "Millicent", "Minerva", "Nymue", "Orla", "Penelope", "Phoibe", "Rosa", "Summer", "Vi", "Victoria", "Vivian", "Winter"  ]
    ]
  ]
}
