{
  "names" : [
    [
      { "mode" : "serie", "titleCase" : true },
      [ "Aether", "Aison", "Alexander", "Alistair", "Allard", "Angelos", "Apollo", "Archer", "Arthur", "Ash", "Atlas", "Aylwin", "Barric", "Bavol", "Beaman", "Beval", "Carnell", "Carolus", "Carsen", "Cecil", "Cederic", "Chandler", "Chrysanthos", "Dayton", "Drake", "Durriken", "Easton", "Edgar", "Edmundus", "Egbert", "Elm", "Euclid", "Fabricius", "Galorian", "Garrett", "Garrick", "Garroway", "Gaston", "Gerard", "Gregor", "Haelan", "Harry", "Hazlitt", "Hearst", "Helios", "Hyakinthos", "Iason", "Jerold", "Krono", "Landon", "Leif", "Leonard", "Lyndon", "Magnus", "Malin", "Maven", "Maxwell", "Merlin", "Moreland", "Nidon", "Oak", "Percival", "Polyphemus", "Richard", "Robert", "Roldan", "Severus", "Silas", "Sol", "Trouvelot", "William", "Woodruff", "Xavier", "Yves" ]
    ]
  ]
}
