
//Alternate Saturnian language names

{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Yiir", "Yan", "Thy", "Thun", "Thon", "Kyat", "Myur", "Arct", "Cinth", "Nov", "Sylv", "Kry", "Imo", "Phul", "Dus", "Myl", "Cydr", "Ot", "Act", "Attac", "Rubic", "Mer", "Mitt", "Arg", "Hyal", "Grael", "Agi", "Bufu", "Garu", "Zio", "Hama", "Mudo", "Psi" ],
	  
	  
      [ { "mode" : "alts" }, "atha", "arra", "ia", "aga", "oth", "moth", "mith", "mosh", "moff", "beus", "zif", "zuf", "ora", "loh", "nla", "thero", "lai", "dae", "nae", "sol", "sil", "luna", "ash", "osh", "mos", "vosh", "shnol", "oomoo", "zan", "zen", "magi", "mir", "mant", "ias", "ii", "us", "ulla", "thra", "erei", "rei", "ema", "nir", "nar", "mir", "mar"  ]
    ]
  ]
}
