{
  "spacesaturnian" : {
      "saturn" : {
		"default":[
			//------space
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
		    "Oh no. My alien species class didn't prepare me for this!",
		    "I haven't seen anyone like you before.",
		    "I wonder what your species' spaceships look like.",
		    "Does your species have wizards too?",
		    "Huh? What are you?"
			],
		"generic":[
			//------space
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Where are you from? Is your homeland pretty?",
        	"Nice outfit you've got there.",
			"The universe is a big, scary place.",
			"I miss the times when we just had one sky to chart.",
			"You're from far away too, right?",
			"Certain plants and animals seem to have traveled the stars before we have. Am I to believe that potatoes are better at space travel than me?",
			"Nearly every moon is suddenly causing some sort of interference, and now things are just phasing in and out of existence. What is going on?!"
			],

//vanilla species =========================================================
        "apex": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"I hear the Apex are great alchemists. Have any tips?",
			"When I was traveling, I found a cocoon with an Apex in it. Do you think the Miniknog have done this?",
			"AAAHHH! The Miniknog are here! Um... you aren't Miniknog, are you? Sorry!",
			"I wonder why the Miniknog's standard issue furniture is covered in spots. Were they inspired by the Waspmim?"
        ],
        "avian": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"AAAHHH! Oh, sorry, I thought you were something else.",
			"Your feathers are a lot like my scales.",
			"Our wings are more of a style thing, really.",
			"I-I-I'm not scared. I'm sh-sh-shaking to warm up my w-w-wings",
			"Um... H-h-hello?",
			"I have heard your species knows a lot about crystals.",
			"I love the crystal technology Avians use.",
			"Avian banners are beautiful. Do you sew too?",
			"It's good to know there are others that appreciate the magical value of crystals.",
			"How can you weave anything without a spinneret?",
			"I think I'll make my next staff with one of those red Avolite crystals as the focus.",
			"I hope the others know that Avians aren't related to the rocs, like, at all..."
        ],
        "floran": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Don't worry about us trying to drink out of you.",
			"You must also hate fire.",
			"Do you have any flowers?",
			"Are you flora or fauna?",
			"Can you photosynthesize? Does space make you hungry?"
        ],
        "glitch": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Are you a knight?",
			"I hear that Glitch alchemists only produce stims. How do you even use them?",
			"What kind of magic animates you?",
			"You don't serve any royalty, do you? Ours are just figureheads; the Archmage and their mage council have the real power.",
			"Glitch-styled clothes are really popular with us.",
			"Your armor looks very protective; I can only see your eyes.",
			"You have a metal exoskeleton! What kind of bug are you?",
			"How did you get your eyes to glow like that?",
			"What kind of metal are you made of?"
        ],
        "novakid": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Ow. I think I need sunglasses just to look in your direction.",
			"Whoa! Your so bright, I'm having trouble orienting myself.",
			"Hi, how are- wait where was I going again?",
			"How do you glow like that?",
			"Are you made from sunlight?! That's amazing!",
			"WHOA! You're glowing!",
			"Has anyone told you that you glow?",
			"LIGHT!",
			"GASP!",
			"Do you mind if I run circles around you?"
        ],
        "hylotl": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Your skin looks slimy. Sorry if my scales stick to you!",
			"Hylotl like tea, don't they? I need to try it sometime.",
			"I wonder if Saturnians could build underwater.",
			"I need to figure out how to explore the sea.",
			"I visited a Hylotl city below the ocean once. There was so much light, I wandered there for hours."
        ],
        "human": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Athath dara thu. That broke your translator, didn't it. Just kidding, it's gibberish!",
			"Do humans have ANY cities in space? I have only ever found temporary cities.",
			"I've been reading books about human wizards. These stories are really popular around here.",
			"The Archmage wanted Solalei to officially join the Protectorate. I think there were even some Saturnians already in it.",
			"If your homeworld was covered in oceans, then where are your gills?"
        ],
//NPC species =========================================================
        "shadow": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"What manner of dark magic created you?",
			"How do you absorb light like that? ",
			"You remind me of an old legend of a shadowy moth with red eyes.",
			"Some explorers traveled to a dark world and never returned. You wouldn't happen to know anything about that, would you?",
			"...?"
        ],
		
//Modded species =========================================================	
        "arachne": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"AAAHHH! P-p-p-please d-d-don't hurt me, spider!",
			"Are you friendly, spider?",
			"You make things from silk too?"
        ],
        "avali": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Hello traveler. Uh... Have you been working with ammonia recently?",
			"Aerogel sounds like a useful material. Do you know of any books that detail how to make it?",
			"Huh? Are you an Avali? You are much taller than my guide book said you would be.",
			"You are really fluffy and feathery. Are you warm-blooded as well?",
			"You're really different from the other species I usually see around here. You must have traveled far."
        ],
		
        "smolavali": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Hello traveler. Uh... Have you been working with ammonia recently?",
			"Aerogel sounds like a useful material. Do you know of any books that detail how to make it?",
			"Oh! You're so cute!",
			"You are really fluffy and feathery. Are you warm-blooded as well?",
			"You're really different from the other species I usually see around here. You must have traveled far."
        ],
		
        "Indix": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"A ghost?! Do the Thaumoth know about this?",
			"How do you glow like that?",
			"WHOA! You're glowing!",
			"Has anyone told you that you glow?"
        ],
		
        "nebulac": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"A being made of stars!",
			"A Nebulac? You build things out of light, right?",
			"Nebulac villages are beautiful. I could stare at them for hours.",
			"You're so glittery!",
			"How do you glow like that?",
			"WHOA! You're glowing!",
			"Has anyone told you that you glow?",
			"LIGHT!",
			"Do you mind if I run circles around you?"
        ],
		
        "Lepidoptian": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Perhaps our species are like lost siblings.",
			"It's good to know that we aren't the only moths out there.",
			"I hear Lepidoptians metamorphosize as well.",
			"Our silk is a little bit different than yours. I wonder if weaving the two together would make even better fabric.",
			"Do you think our species could be related to the lumoth?",
			"Do Lepidoptians eat fabric? People of other species seem to often think Saturnians eat clothes, but that's just a myth!",
			"Lepidoptians have excellent fashion sense.",
			"Hello fellow moth!",
			"Hello fellow bug!"
        ],
        
		"lucario": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Do you think I could make a staff with auracite?",
			"I sense something strange about you.",
			"My antennae are picking up something from you. It makes me feel dizzy..."
        ],
		
//saturnians mod species
        "satkyterran": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Have you been back to Myrasyl recently",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Are you from the exploration guild?",
			"It's not often we see other species from Myrasyl.",
			"Do your antennae pick up random radio waves too?",
			"Can you believe how far we are from Myrasyl?"
        ],
		
        "saturn": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Have you been back to Myrasyl recently",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Are you from the exploration guild?",
			"Do your antennae pick up random radio waves too?",
			"Some sort of interference deleted all of my bookmarks, so now I can't go back home. Huh? You too?",
			"I miss the times when we just had one sky to chart.",
			"What have you found out there? Can we share notes?",
			"I wonder if we can get our teleporters linked back up to Solalei.",
			"Can you believe how far we are from Myrasyl?"
        ],
		"saturn2": [
			"It's so dark out here, but the view of the stars is amazing!",
			"Have you been back to Myrasyl recently",
			"Space is so pretty!",
			"We deliver supplies to sky villages on behalf of Solalei. I guess you could say we are delivery moths.",
			"Don't worry, we had solar filters installed on our windows.",
			"Have you seen any space jellies?",
			
			//------generic
			"Are you from the exploration guild?",
			"Do your antennae pick up random radio waves too?",
			"Some sort of interference deleted all of my bookmarks, so now I can't go back home. Huh? You too?",
			"I miss the times when we just had one sky to chart.",
			"What have you found out there? Can we share notes?",
			"I wonder if we can get our teleporters linked back up to Solalei.",
			"Your accent reminds me of Actias.",
			"Can you believe how far we are from Myrasyl?"
        ]

    }
  }
}
