{
  "hail" : {
    "default" : {
    	"default" : [
	      "I've got my eye on you.",
	      "Keep on the straight and narrow, you.",
	      "We don't tolerate miscreants here.",
	      "Move along."
      ]
    },
    "saturn" : {
      "default" : [
        "You won't cause any problems, w-w-will you?",
		"Hello adventurer!",
		"Please be on your best behavior.",
		"If we are ever attacked, could you give us a hand?",
		"Wow! Travelers are really rare around here.",
		"Hello!",
        "Gah! Oh.",
		"Are you friendly?",
        "Who are you, traveler?"
      ]
    },
    "human" : {
      "default" : [
        "Watch yourself, stranger.",
        "Stay out of trouble.",
        "Don't... Just don't do anything.",
        "Try not to destroy anything.",
        "I'm watching you.",
        "You better not try anything.",
        "I'm super tough, better not cross me.",
        "Hi! I mean... Grrr.",
        "What's your business here?",
        "What are you lookin' at?"
      ]
    }
  },
  "converse" : {
    "default" : {
    	"default" : [
	      "I've got my eye on you.",
	      "Keep on the straight and narrow, you.",
	      "We don't tolerate miscreants here.",
	      "Move along."
      ]
    },
    "saturn" : {
      "default" : [
		"This wand focuses light into elemental energy.",
		"Hello adventurer!",
		"If we are ever attacked, could you give us a hand?",
		"Regular wands aren't really practical for guards.",
        "You look like you know how to defend yourself.",
        "Who are you?",
        "Everything is going well so far.",
        "I hope there aren't any rocs on this planet.",
		"I'm worried I won't be able to protect the others, should something bad happen. Uhh... I shouldn't be telling you that.",
		
		"I regard books as learned friends.",
        "Maybe one day we will be good friends.",
        "I think the stars were trying to tell me something.",
        "Oh no... I lost my knitting needles.",
        "I'd like a sparring partner. I haven't practiced my fighting skills in a while.",
        "Where are you from? Is your homeland pretty?",
        "I'm going kite flying tomorrow!",
        "You seem overwhelmed, do you need me to take you under my wing?",
        "I'm looking forward to a change in the weather. The variety is great.",
        "Nice outfit you've got there.",
        "I've been nervous for the past few days, like something bad is going to happen.",
        "What do you want to talk about?",
        "I really can't talk now.",
        "You found any cool weapons lately?",
		"Please don't hurt anyone out there.",
        "The universe is a big, scary place.",
        "I'm so tired today. Actually, I'm tired every day.",
        "Look at how pretty the sky is today.",
        "One day follows the next but time seems to stand still.",
        "Are you a scholar? Do you have any books I can borrow?",
        "Travelers complain about how sweet Saturnian drinks are. I only use eight spoons of sugar!",
        "You're from far away too, right?",
        "It is strange seeing a different sun every day.",
		"Have you found any lights?",
		"It's too dark here; I need at least ten more lights.",
		"There's at least two other moth species, completely unrelated to us out there. I hope I can meet them someday!",
		"I don't have anything prepared to say. Please move along to the next moth.",
		"I want to find a world that is perfectly lit. No distractions there!",
		"Have you noticed that every sun looks yellow from a planet surface?",
		"Light doesn't affect us as badly as most think; only those with no sort of will at all could fly into- Ooh! Shiny!",
		"Uhhh...",
        "Squeak?",
		"Squeak!"
      ]
    },
    "human" : {
      "default" : [
        "Watch yourself, stranger.",
        "Stay out of trouble.",
        "Don't... Just don't do anything.",
        "Try not to destroy anything.",
        "I'm watching you.",
        "You better not try anything.",
        "I'm super tough, better not cross me.",
        "Hi! I mean... Grrr.",
        "What's your business here?",
        "What are you lookin' at?"
      ]
    }
  }
}