{
  "hail": {
    "default": {
      "default": [
        "I've got my eye on you.",
        "Keep on the straight and narrow, you.",
        "We don't tolerate miscreants here.",
        "Move along."
      ]
    },
    "saturn": {
      "default": [
        "Buzz."
      ],
      "saturn": [
        "A moth? How do you defend yourself?",
        "Hello moth friend."
      ],
      "saturn2": [
        "A moth? How do you defend yourself?",
        "Hello moth friend."
      ],
      "generic": [
        "Buzz.",
        "Buzz buzz.",
        "Buzz buzz buzz.",
        "BUZZ!",
        "B U Z Z",
        "Squeak, I-I-I mean BUZZ!",
        "A bee I am... Not?!",
        "I am glad that bees like me have the means to defend ourselves, and that we don't have to pretend to be strong.",
        "Did you come to admire our beautiful wax architecture?",
        "Zzzzz... Huh? I wasn't sleeping!",
        "I sure love light, I mean honey.",
        "My strength matches a wasp's love for honey.",
        "I hope this place is safe. Not that THAT MATTERS since we are THE BEST!",
        "We are the proud, brave, and invincible Waspmim. Do not even think of attacking us. We should be friends instead!"
      ],
      "satkyterran": [
        "You might be a strong antlion, but you don't have a cool stinger like we do!",
		"Buzzah! That's Waspmim for huzzah.",
        "So do you eat all hymenopterans, or just ants? Because if you eat bees too, I've got some news for you..."
      ],
      "apiarian": [
        "GASP! Could it be? A BEE?!",
        "Oh my gosh!",
        "A real bee?! Can I have your autograph!",
        "BEE!",
		"The Great Bee told us this day would come.",
        "Hello fellow bee.",
        "Hello bee friend.",
		"Are you an Apiarian?",
        "An Apiarian! Have you found a flower world?",
        "I don't beelieve it!",
        "GASP! A b-b-bee!",
        "We apologize for the mimicry. Our survival used to depend on it. Nowadays, I'm not sure.",
        "Whoa?! Are you the species we've been mimicking?",
        "Have you heard that saying about imitation?"
      ],
      "vespoid": [
        "GASP! Could it be? A BEE?!",
        "Oh my gosh!",
        "A real bee?! Can I have your autograph!",
        "BEE!",
        "Hello fellow bee.",
        "Hello bee friend.",
        "Are you a bee or a wasp?",
        "I don't beelieve it!",
        "GASP! A b-b-bee!",
        "We apologize for the mimicry. Our survival used to depend on it. Nowadays, I'm not sure.",
        "Whoa?! Are you the species we've been mimicking?",
		"Huh?! A bee?! You aren't an Apiarian, though. Where are you from?", 
        "Have you heard that saying about imitation?"
      ],
      "wasphive": [
        "Oh! Wasp! Hello wasp friend.",
        "Oh my gosh!",
        "A WASP?!",
        "I don't beelieve it!",
        "Hello fellow bee. Oh, are you a wasp?",
        "We apologize for the mimicry. Our survival used to depend on it. Nowadays, I'm not sure.",
        "Whoa?! Are you the species we've been mimicking?",
        "Have you heard that saying about imitation?"
      ]
    }
  },
  "beefriendhail": {
    "default": {
      "default": [
        "Everything seems to be fine."
      ]
    },
    "saturn": {
      "default": [
        "Buzz."
      ],
      "saturn": [
        "Hello moth friend."
      ],
      "saturn2": [
        "Hello moth friend."
      ],
      "generic": [
        "Buzz.",
        "Buzz buzz.",
        "Buzz buzz buzz.",
        "BUZZ!",
        "B U Z Z",
        "Squeak, I-I-I mean BUZZ!",
        "A bee I am... Not?!",
        "I am glad that bees like me have the means to defend ourselves, and that we don't have to pretend to be strong.",
        "The scenery around here is beautiful!",
        "Zzzzz... Huh? I wasn't sleeping!",
        "I sure love light, I mean honey.",
        "My strength matches a wasp's love for honey.",
        "This place should be safe since we are THE BEST!"
      ],
      "satkyterran": [
		"You might be a strong antlion, but you don't have a cool stinger like we do!",
		"Buzzah! That's Waspmim for huzzah.",
        "Hello antlion friend."
      ],
      "apiarian": [
        "A real bee?! Can I have your autograph!",
        "BEE!",
        "Hello fellow bee.",
        "Hello bee friend.",
        "Are the Apiarians still searching for a flower world?",
        "I don't beelieve it!",
        "We apologize for the mimicry. Our survival used to depend on it. Nowadays, I'm not sure.",
        "Have you heard that saying about imitation?"
      ],
      "vespoid": [
        "Hello fellow bee.",
        "Hello bee friend.",
        "Are you a bee or a wasp?",
        "I don't beelieve it!"
      ],
      "wasphive": [
        "Oh! Hello wasp friend.",
        "I don't beelieve it!",
        "Hello fellow bee. Oh, are you a wasp?"
      ]
    }
  },
  "reattack": {
    "default": {
      "default": [
        "Eep! There back?!",
        "Not again!",
        "AAAAHHH!",
        "I'll... stop you... now?!",
        "You came back?",
        "BUZZ?!"
      ],
      "vespoid": [
        "Eep! There back?!",
        "Not again!",
        "AAAAHHH!",
        "I'll... stop you... now?!",
        "You came back?",
        "BUZZ?!",
        "The traitor returns!"
      ],
      "wasphive": [
        "Eep! There back?!",
        "Not again!",
        "AAAAHHH!",
        "I'll... stop you... now?!",
        "You came back?",
        "BUZZ?!",
        "The traitor returns!"
      ]
    }
  },
  "attack": {
    "default": {
      "default": [
        "S-stay back!",
        "I'll defend the others!",
        "I can stop them!",
        "These stingers aren't just for show! ^#666666;They are absolutely for show...^reset;",
        "BUZZ!"
      ],
      "vespoid": [
        "S-stay back!",
        "I'll defend the others!",
        "I can stop them!",
        "You aren't one of us?!",
        "TRAITOR!",
        "Traitor bee! Traitor bee!",
        "BUZZ! TRAITOR! BUZZ!",
        "BUZZ!"
      ],
      "wasphive": [
        "S-stay back!",
        "I'll defend the others!",
        "I can stop them!",
        "You aren't one of us?!",
        "TRAITOR!",
        "Traitor wasp! Traitor wasp!",
        "BUZZ! TRAITOR! BUZZ!",
        "BUZZ!"
      ]
    }
  },
  "killedTarget": {
    "default": {
      "default": [
        "I did it?",
        "I won!",
        "Phew!",
        "Buzz.",
		"Buzzah!",
        "Please forgive me!",
        "I'm sorry!",
        "Is everyone OK?",
        "...",
        "?!",
        "That was stressful...",
        "They didn't run?"
      ],
      "vespoid": [
        "W-w-what?!",
        "Am I a true bee warrior now?!",
        "I defeated the bee?! HOW?!"
      ],
      "wasphive": [
        "W-w-what?!",
        "Am I a true wasp warrior now?!",
        "I defeated the wasp?! HOW?!"
      ]
    }
  },
  "lostTarget": {
    "default": {
      "default": [
        "They're gone...",
        "Did they run away?",
        "Is it over?",
        "Where are you...",
        "Buzzbuzz!"
      ]
    }
  },
  "outOfSight": {
    "default": {
      "default": [
        "Buzz...",
        "They're getting away!",
        "Where'd you go?",
        "Get back here!",
        "How did this happen?"
      ]
    }
  },
  "cantReach": {
    "default": {
      "default": [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "How did you get over there?",
        "I can't reach!"
      ]
    }
  },
  "cheerOn": {
    "default": {
      "default": [
        "Together we can stop them!",
        "Let's defeat them!",
        "Buzz buzz buzz!",
        "Into the defense formation!",
        "Come on!"
      ]
    }
  }
}