//not finished yet.

{
  "hail" : {
    "default" : {
    	"default" : [
	      "I've got my eye on you.",
	      "Keep on the straight and narrow, you.",
	      "We don't tolerate miscreants here.",
	      "Move along."
      ]
    },
    "saturn" : {
      "default" : [
        "Us battlemages have existed since the beginning, yet others still think Saturnians are frail?",
        "You look like you know how to defend yourself.",
        "Gah! Oh.",
        "Who are you?",
        "Everything is going well so far.",
        "Who says wizards have to wear robes all the time?",
        "I hope there aren't any rocs on this planet."
      ]
    },
    "human" : {
      "default" : [
        "Watch yourself, stranger.",
        "Stay out of trouble.",
        "Don't... Just don't do anything.",
        "Try not to destroy anything.",
        "I'm watching you.",
        "You better not try anything.",
        "I'm super tough, better not cross me.",
        "Hi! I mean... Grrr.",
        "What's your business here?",
        "What are you lookin' at?"
      ]
    }
  }
}